*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("../fonts/Gilroy/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-default: 'Gilroy';
  --fw-medium: 500;
  --fw-extra: 800;
  --blue-gradient: linear-gradient(180deg, #56D2E3 0%, #1991D7 100%);
  --c-title: #2A5E8D;
  --c-text: #5D5A5B;
}

* {
  outline: none;
  border: 0;
}

html, body {
  position: relative;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  position: relative;
  font-family: var(--font-default);
  font-size: 1.125rem;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #F5F5F5;
}

.container {
  max-width: 72.5rem;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.w-8\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.w-7\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.w-6\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.w-5\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.w-4\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.items-start {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.items-end {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.header {
  height: 44.4375rem;
  background: url(../img/header_bg.png) no-repeat bottom center;
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.1875rem;
  padding-bottom: 6.25rem;
}

.header__top-center {
  max-width: 24.0625rem;
}

.header__top-center p {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
}

.header__top-right .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.header__top-right .top img {
  margin-right: 0.9375rem;
}

.header__top-right .top b {
  font-weight: var(--fw-extra);
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: white;
}

.header__top-right .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__top-right .bottom a {
  color: white;
}

.header__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header__bottom .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45.9375rem;
      -ms-flex: 0 0 45.9375rem;
          flex: 0 0 45.9375rem;
  max-width: 45.9375rem;
}

.header__bottom .left h1 {
  font-weight: bold;
  font-size: 2.625rem;
  line-height: 3.4375rem;
  color: white;
  margin-bottom: 1.25rem;
}

.header__bottom .left p {
  font-weight: var(--fw-medium);
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: white;
}

.header__bottom .right {
  position: relative;
  max-width: 25rem;
}

.header__bottom .right img {
  position: relative;
  left: -2.5rem;
  top: -2.5rem;
}

.header__bottom .right .text-block {
  position: absolute;
  bottom: 7.5rem;
  right: 0;
  width: 17rem;
  background-color: white;
  border-radius: 0.625rem;
  padding: 0.9375rem 0;
  -webkit-box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom .right .text-block b {
  margin-bottom: 0.3125rem;
  background: var(--blue-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.header__bottom .right .text-block p {
  color: #393939;
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
}

.contact_form {
  position: relative;
  top: -4rem;
  margin-bottom: 2.125rem;
}

.contact_form__wrap {
  width: 100%;
  padding: 1.6875rem 1.75rem;
  background-color: white;
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact_form .field-set {
  margin-right: 1.75rem;
}

.contact_form .field-set:first-child {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 13.75rem;
      -ms-flex: 0 0 13.75rem;
          flex: 0 0 13.75rem;
  max-width: 13.75rem;
}

.contact_form .field-set:nth-child(2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 17.4375rem;
      -ms-flex: 0 0 17.4375rem;
          flex: 0 0 17.4375rem;
  max-width: 17.4375rem;
}

.contact_form .field-set:nth-child(3) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 11.5rem;
      -ms-flex: 0 0 11.5rem;
          flex: 0 0 11.5rem;
  max-width: 11.5rem;
}

.contact_form .field-set:last-child {
  margin-right: 0;
}

.field-set {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field-set .label {
  font-size: 1.125rem;
  font-weight: var(--fw-extra);
  color: #747474;
  margin-bottom: 0.6875rem;
}

.field {
  -webkit-box-shadow: inset 0px 1px 7px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 7px rgba(0, 0, 0, 0.2);
  border-radius: 0.5625rem;
  background-color: white;
  height: 3.5rem;
  padding: 0 1.25rem;
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
  color: #747474;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.field:focus {
  -webkit-box-shadow: inset 0px 1px 7px rgba(70, 168, 217, 0.8);
          box-shadow: inset 0px 1px 7px rgba(70, 168, 217, 0.8);
}

.button {
  height: 4.1875rem;
  border-radius: 3.25rem;
  background: var(--blue-gradient);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.5rem;
  -webkit-box-shadow: 1px 4px 8px #46A8D9;
          box-shadow: 1px 4px 8px #46A8D9;
}

.button span {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.section-header h1, .section-header h2, .section-header h3 {
  color: var(--c-title);
  text-transform: uppercase;
  font-size: 2.625rem;
  line-height: 3.4375rem;
  font-weight: var(--fw-extra);
  text-align: center;
  margin-bottom: 0.75rem;
}

.section-header p {
  text-align: center;
  font-weight: var(--fw-extra);
  color: var(--c-text);
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.what {
  margin-bottom: 2.125rem;
}

.what .section-header {
  margin-bottom: 2.8125rem;
}

.what__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.what__item {
  position: relative;
  overflow: hidden;
  width: calc((100% - 40px) / 2);
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 2.25rem 1.25rem 1.6875rem 1.875rem;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.what__item:nth-child(2n) {
  margin-right: 0;
}

.what__item .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.what__item .left .title {
  font-size: 1.5rem;
  line-height: 3.4375rem;
  font-weight: var(--fw-extra);
  color: var(--c-text);
  text-transform: uppercase;
}

.what__item .left p {
  line-height: 1.5625rem;
  color: var(--c-text);
}

.what__item .right {
  position: absolute;
  bottom: -0.3125rem;
  right: -1.25rem;
}

.what .item_1 .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24.75rem;
      -ms-flex: 0 0 24.75rem;
          flex: 0 0 24.75rem;
  max-width: 24.75rem;
}

.what .item_1 .right {
  right: -1.25rem;
  bottom: -0.3125rem;
}

.what .item_2 .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20rem;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
  max-width: 20rem;
}

.what .item_3 .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 22.5rem;
      -ms-flex: 0 0 22.5rem;
          flex: 0 0 22.5rem;
  max-width: 22.5rem;
}

.what .item_3 .right {
  right: 0.3125rem;
}

.what .item_4 .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12.625rem;
      -ms-flex: 0 0 12.625rem;
          flex: 0 0 12.625rem;
  max-width: 12.625rem;
}

.what .item_4 .right {
  right: 2.625rem;
}

.what .item_5 .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24.75rem;
      -ms-flex: 0 0 24.75rem;
          flex: 0 0 24.75rem;
  max-width: 24.75rem;
}

.what .item_5 .right {
  right: 0;
}

.what .item_6 .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 21.6875rem;
      -ms-flex: 0 0 21.6875rem;
          flex: 0 0 21.6875rem;
  max-width: 21.6875rem;
}

.what .item_6 .right {
  bottom: 27%;
  right: 1.25rem;
}

.what .item_7 .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 22.5rem;
      -ms-flex: 0 0 22.5rem;
          flex: 0 0 22.5rem;
  max-width: 22.5rem;
}

.what .item_7 .right {
  right: 0;
}

.what .item_8 .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 21.6875rem;
      -ms-flex: 0 0 21.6875rem;
          flex: 0 0 21.6875rem;
  max-width: 21.6875rem;
}

.what .item_8 .right {
  right: 1.25rem;
}

.results {
  margin-bottom: 3.25rem;
}

.results .container {
  position: relative;
}

.results .section-header {
  margin-bottom: 2.375rem;
}

.results .slider-button {
  position: absolute;
  top: 60%;
  width: 100%;
}

.results .slider-button-prev, .results .slider-button-next {
  position: absolute;
  top: 0;
}

.results .slider-button-prev span, .results .slider-button-next span {
  font-size: 2.625rem;
  font-weight: var(--fw-extra);
  color: var(--c-text);
}

.results .slider-button-prev {
  left: -2.5rem;
}

.results .slider-button-next {
  right: -2.5rem;
}

.results__item {
  background-color: white;
  padding: 2rem 2.25rem;
}

.results__item-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.625rem;
}

.results__item-top .image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20.25rem;
      -ms-flex: 0 0 20.25rem;
          flex: 0 0 20.25rem;
  max-width: 20.25rem;
  margin-right: 2.875rem;
}

.results__item-top .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.results__item-top .list {
  margin-right: 2.25rem;
  margin-top: 1.5625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 26.25rem;
      -ms-flex: 0 0 26.25rem;
          flex: 0 0 26.25rem;
  max-width: 26.25rem;
}

.results__item-top .list img {
  margin-bottom: 1.875rem;
  width: 6.75rem;
  height: 2.8125rem;
}

.results__item-top .list ul li {
  margin-bottom: 1.875rem;
  color: var(--c-text);
}

.results__item-top .list ul li:last-child {
  margin-bottom: 0;
}

.results__item-top .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  background-color: #279DD9;
  padding: 1.5rem 1.25rem;
  margin-top: 1.875rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15.625rem;
      -ms-flex: 0 0 15.625rem;
          flex: 0 0 15.625rem;
  max-width: 15.625rem;
}

.results__item-top .info img {
  margin-right: 1rem;
}

.results__item-top .info p {
  font-size: 1.5rem;
  font-weight: var(--fw-extra);
  color: white;
  text-transform: uppercase;
}

.results__item .text {
  line-height: 1.5625rem;
}

.results .swiper-pagination {
  position: relative;
  bottom: 0;
  margin-top: 1.75rem;
  z-index: 10;
}

.results .swiper-pagination-bullet {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 1.25rem;
  opacity: 1;
  background-color: #C4C4C4;
}

.results .swiper-pagination-bullet-active {
  background-color: #2A5E8D;
}

.preview {
  background: url(../img/section_2_bg.jpg) no-repeat top center;
  background-size: cover;
  padding: 3.25rem 0;
  margin-bottom: 4.0625rem;
}

.preview .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45.9375rem;
      -ms-flex: 0 0 45.9375rem;
          flex: 0 0 45.9375rem;
  max-width: 45.9375rem;
}

.preview__text h2, .preview__text h3 {
  font-size: 2.625rem;
  line-height: 3.4375rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.preview__text p {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: white;
}

.preview__button {
  margin-left: 3.25rem;
}

.conference {
  overflow: hidden;
  margin-bottom: 4.0625rem;
}

.conference .section-header {
  margin-bottom: 2.3125rem;
}

.conference__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.conference__item {
  background-color: white;
  padding: 1.875rem 2.375rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35rem;
      -ms-flex: 0 0 35rem;
          flex: 0 0 35rem;
  max-width: 35rem;
}

.conference__item:first-child {
  margin-right: 1.25rem;
  height: 34.875rem;
}

.conference__item .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conference__item .top__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 18.5625rem;
      -ms-flex: 0 0 18.5625rem;
          flex: 0 0 18.5625rem;
  max-width: 18.5625rem;
}

.conference__item .top__info .title {
  font-size: 1.5rem;
  margin-bottom: 0.3125rem;
  font-weight: var(--fw-extra);
  line-height: 1.875rem;
  background: var(--blue-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.conference__item .top__info p {
  font-weight: var(--fw-extra);
  color: var(--c-text);
}

.conference__item .bottom {
  margin-top: 0.9375rem;
  max-width: 21.4375rem;
}

.conference__item .bottom p {
  line-height: 1.5625rem;
  color: var(--c-text);
  margin-bottom: 1.25rem;
}

.conference__item .bottom p:last-of-type {
  margin-bottom: 0;
}

.conference .flex.flex-col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35rem;
      -ms-flex: 0 0 35rem;
          flex: 0 0 35rem;
  max-width: 35rem;
  height: 34.875rem;
}

.conference .flex.flex-col .conference__item {
  margin-bottom: 1.25rem;
  max-height: 16.875rem;
  margin-right: 0;
}

.conference .flex.flex-col .conference__item:last-child {
  margin-bottom: 0;
}

.excursion {
  margin-bottom: 7.375rem;
}

.excursion .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.excursion__left {
  margin-right: 2.625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 18.375rem;
      -ms-flex: 0 0 18.375rem;
          flex: 0 0 18.375rem;
  max-width: 18.375rem;
}

.excursion__right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 46rem;
      -ms-flex: 0 0 46rem;
          flex: 0 0 46rem;
  max-width: 46rem;
  padding-top: 3.125rem;
}

.excursion__right .title {
  font-size: 2.625rem;
  font-weight: bold;
  line-height: 3.4375rem;
  color: var(--c-text);
  margin-bottom: 2.3125rem;
}

.excursion__right .button {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.program {
  margin-bottom: 7.1875rem;
}

.program .section-header {
  margin-bottom: 2.5rem;
}

.program .button {
  margin-top: 3.25rem;
  margin-left: auto;
  margin-right: auto;
}

.program__items {
  max-width: 54.8125rem;
  margin-left: auto;
  margin-right: auto;
}

.program__item {
  margin-bottom: 0.9375rem;
  padding: 0.75rem 2.5rem;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__item:last-child {
  margin-bottom: 0;
}

.program__item .image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: var(--blue-gradient);
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 3.125rem;
}

.program__item .text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.program__item .text p, .program__item .text b {
  color: var(--c-text);
}

.program__item .text b {
  font-size: 1.5rem;
  line-height: 1.625rem;
  font-weight: var(--fw-extra);
  display: block;
}

.program__item .text b span {
  background: var(--blue-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.program__item .text p {
  margin-top: 0.875rem;
}

.program__item.gray {
  background-color: #ECECEC;
}

.program__item.gray .image {
  background: none;
  background-color: #F5F5F5;
}

.popup {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__overlay {
  width: 100%;
  max-width: 75rem;
}

.popup__overlay .contact_form {
  top: auto;
  margin-bottom: 0;
  background-color: white;
  border-radius: 0.625rem;
  padding: 3rem 3.3125rem;
}

.popup__overlay .contact_form .close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.popup__overlay .contact_form .close:hover {
  opacity: .7;
}

.popup__overlay .contact_form h2, .popup__overlay .contact_form h3 {
  font-size: 2.625rem;
  line-height: 3.4375rem;
  color: #2A5E8D;
  margin-bottom: 2.875rem;
  text-transform: uppercase;
}

.popup__overlay .contact_form__wrap {
  padding: 0;
}

.popup__overlay .contact_form__wrap .field-set:nth-child(3) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14.6875rem;
      -ms-flex: 0 0 14.6875rem;
          flex: 0 0 14.6875rem;
  max-width: 14.6875rem;
}

.popup.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  padding-bottom: 6.5625rem;
}

.footer .section-header {
  margin-bottom: 3.25rem;
}

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content img {
  margin-right: 5.75rem;
  border-radius: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15.625rem;
      -ms-flex: 0 0 15.625rem;
          flex: 0 0 15.625rem;
  width: 15.625rem;
  height: 15.625rem;
}

.footer__content ul li {
  margin-bottom: 2.125rem;
  font-size: 1.5rem;
  line-height: 3.4375rem;
  font-weight: bold;
  color: var(--c-text);
}

.footer__content ul li:last-child {
  margin-bottom: 0;
}
